body {
  background: radial-gradient(
    circle at 45% 50%,
    rgba(161, 103, 255, 0.52),
    rgba(106, 123, 246, 0.6)
  );
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portret {
  width: 800px;
  height: 600px;
}

.article {
  display: flex;
}

.article-text {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", sans-serif;
}

.card {
  width: 220px;
  /* height: 274px; */
   /* временно захардкодил, не забыть поправить */
  height: 350px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 80%;
  /* временно захардкодил, не забыть поправить */
  /* height: 60%; */
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.pic{
  width: 100%;
  height: 100%;
}

.card-image:hover {
  transform: scale(0.98);
}

.name-watch {
  font-weight: 600;
}

.name-watch:hover {
  cursor: pointer;
}

.slider-watch{
  display: flex;
}


.formAdd {
  border: 2px solid red;
  padding: 30px;
}

.table{
  width: 80%;
}